<a href="https://colab.research.google.com/github/HarshBhavsar023/Data_programming_Assignment_1_BDAT1004/blob/main/data_programming_harsh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
**Question 1**
---
What data type is each of the following (evaluate where necessary)?


*   5 = Integer
* 5.0 = Float
* 5 > 1 = Boolean
* '5' = String
* 5 * 2 = Integer
* '5' * 2 = String
* '5' + '2' = String
* 5 / 2 = Float
* 5 % 2 = Integer
* {5, 2, 1} = Set
* 5 == 3 = Boolean
* Pi (the number) = Float

---
**Question 2** :
---
Write (and evaluate) python expressions that answer these questions:
1.  How many letters are there in 'Supercalifragilisticexpialidocious'?
2.  Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?
3.  Which of the following words is the longest:
Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or
Bababadalgharaghtakamminarronnkonn?
4.  Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian',
'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [ ]:
#1 How many letters are there in 'Supercalifragilisticexpialidocious'?

word = str("Supercalifragilisticexpialidocious")
print("The letters of the",word,"is:",len(word))

The letters of the Supercalifragilisticexpialidocious is: 34

In [ ]:
#2 Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

word = str("Supercalifragilisticexpialidocious")
sub_string = str("ice")

if sub_string in word:
  print("yes,",sub_string,"is sub-string of  ",word)
else :
  print("No,",sub_string,"is sub-string ",word)

yes, ice is sub-string of   Supercalifragilisticexpialidocious

In [ ]:
#3 Which of the following words is the longest: Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn?

str_1 = str("Supercalifragilisticexpialidocious")
str_2 = str("Honorificabilitudinitatibus")
str_3 = str("Bababadalgharaghtakamminarronnkonn")

longest = ""

if len(str_1) >= len(longest):
  longest = str_1

if len(str_2) >=  len(longest):
  longest = str_2

if len(str_2) >= len(longest):
  longest = str_3

print(longest)

Supercalifragilisticexpialidocious

In [ ]:
#4 Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

composers = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']

first_composer = composers[0]
last_composer = composers[0]

for composer in composers:
    if composer < first_composer:
        first_composer = composer
    if composer > last_composer:
        last_composer = composer

print("First composer:", first_composer)
print("Last composer:", last_composer)

First composer: Bartok
Last composer: Buxtehude

---
**Question 3**:
---
Implement function triangleArea(a,b,c) that takes as input the lengths of the 3
sides of a triangle and returns the area of the triangle. By Heron's formula, the area
of a triangle with side lengths a, b, and c is s(s - a)(s - b)(s - c) , wheres = (a + b + c)/2

In [ ]:
import math
def triangleArea(a, b, c):
    s = (a + b + c) / 2

    area = math.sqrt(s * (s - a) * (s - b) * (s - c))

    return area
area = triangleArea(2, 2, 2)

print("The area of the triangle is:", area)

The area of the triangle is: 1.7320508075688772

---
**Question 4**:
---
Write a program in python to separate odd and even integers in separate arrays. Go to the editor

In [ ]:
def separate_odd_even_elements():
    num_elements = int(input("Input the number of elements to be stored in the array: "))

    odd_elements = []
    even_elements = []

    print("Input", num_elements, "elements in the array:")

    for i in range(num_elements):
        element = int(input("Element - {}: ".format(i)))


        if element % 2 == 0:
            even_elements.append(element)
        else:
            odd_elements.append(element)


    print("The Even elements are:")
    for even in even_elements:
        print(even, end=" ")


    print("\nThe Odd elements are:")
    for odd in odd_elements:
        print(odd, end=" ")

separate_odd_even_elements()

Input the number of elements to be stored in the array: 5
Input 5 elements in the array:
Element - 0: 1
Element - 1: 2
Element - 2: 3
Element - 3: 4
Element - 4: 5
The Even elements are:
2 4
The Odd elements are:
1 3 5

---
**Question 5:**
---
a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False
depending on whether the point (x,y) lies in the rectangle with lower left
corner (x1,y1) and upper right corner (x2,y2).

b. Use function inside() from part a. to write an expression that tests whether the point (1,1) lies in both of the following rectangles: one with lower left corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower left corner (0.5, 0.2) and upper right corner (1.1, 2)

In [ ]:
# a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False depending on whether the point (x,y) lies in the rectangle with lower left corner (x1,y1) and upper right corner (x2,y2)

def inside(x, y, x1, y1, x2, y2):

    if x1 <= x <= x2 and y1 <= y <= y2:
        return True
    else:
        return False

print(inside(1, 1, 0, 0, 2, 2))  # True
print(inside(3, 3, 0, 0, 2, 2))  # False

True
False

In [ ]:
# b. Use function inside() from part a. to write an expression that tests whether the point (1,1) lies in both of the following rectangles: one with lower left corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower left corner (0.5, 0.2) and upper right corner (1.1, 2)

rectangle1 = inside(1, 1, 0.3, 0.5, 1.1, 0.7)
rectangle2 = inside(1, 1, 0.5, 0.2, 1.1, 2)

if rectangle1 and rectangle2:
    print("The point (1, 1) lies in both rectangles.")
else:
    print("The point (1, 1) does not lie in both rectangles.")

The point (1, 1) does not lie in both rectangles.

---
**Question 6**
---
You can turn a word into pig-Latin using the following two rules (simplified):


*   If the word starts with a consonant, move that letter to the end and append
'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.
*   If the word starts with a vowel, simply append 'way' to the end of the word.
For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . For
our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant)
Write a function pig() that takes a word (i.e., a string) as input and returns its pig-Latin form. Your function should still work if the input word contains upper casecharacters. Your output should always be lower case however.

In [ ]:
def pig(word):
    vowels = ['a', 'e', 'i', 'o', 'u']
    word = word.lower()
    if word[0] in vowels:
        return word + 'way'
    else:
        return word[1:] + word[0] + 'ay'
print(pig('happy'))
print(pig('pencil'))
print(pig('enter'))
print(pig('other'))

appyhay
encilpay
enterway
otherway

---
**Question 7** is uploaded seprately
---
---

In [ ]:
def bldcount(fname):
    blood_counts = {'A': 0, 'B': 0, 'AB': 0, 'O': 0, 'OO': 0}

    try:
        with open('bloodtype1.csv', 'r') as file:
            for line in file:
                blood_type = line.strip()
                if blood_type in blood_counts:
                    blood_counts[blood_type] += 1
    except FileNotFoundError:
        print("File not found.")
        return

    for blood_type, count in blood_counts.items():
        if count == 1:
            print("There is one patient of blood type", blood_type + ".")
        else:
            print("There are", count, "patients of blood type", blood_type + ".")

bldcount('bloodtype1.csv')

There are 15 patients of blood type A.
There is one patient of blood type B.
There are 13 patients of blood type AB.
There are 15 patients of blood type O.
There are 0 patients of blood type OO.

---
**Question 8:**
---
Write a function curconv() that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or
'EUR' for the Euro)
2. an amount
and then converts and returns the amount in US dollars.

In [ ]:
def curconv(currency, amount):
    conversion_rates = {
        'JPY': 0.01241401,
        'INR': 0.0177643,
        'CHF': 1.0237414,
        'CNY': 0.1550176,
        'DKK': 0.1651442,
        'EUR': 1.2296544,
        'GBP':1.5550989,
        'HKD':0.1270207,
        'MXN':0.0751848,
        'MYR':0.3145411,
        'NOK':0.1677063,
        'NZD':0.8003591,
        'PHP':0.0233234,
        'SEK':0.148269,
        'SGD':0.788871,
        'THB':0.0313789 }

    if currency in conversion_rates:
        usd_amount = amount * conversion_rates[currency]
        return "For currency: " + currency + " and Amount: " + str(amount) + ", the value of USD is: " + str(usd_amount)

    else:
        print("Conversion rate for", currency, "is not available.")
        return None

curconv('EUR',100)

'For currency: EUR and Amount: 100, the value of USD is: 122.96544'

---
**Question9**:
---
Each of the following will cause an exception (an error). Identify what type of
exception each will cause.

1. Trying to add incompatible variables, as in
adding 6 + ‘a’:
ERROR : unsupported operand type(s) for +: 'int' and 'str'

2. Referring to the 12th item of a list that has only 10
items
3. Using a value that is out of range for a function’s
input, such as calling math.sqrt(-1.0)
4. Using an undeclared variable, such as print(x)
when x has not been defined
5. Trying to open a file that does not exist, such as
mistyping the file name or looking in the wrong
directory.

In [ ]:
#1 Trying to add incompatible variables, as in adding 6 + ‘a’
6 + 'a'

#ERROR:  unsupported operand type(s) for +: 'int' and 'str'

TypeError: ignored

In [ ]:
#2 Referring to the 12th item of a list that has only 10 items
a = [0,1,2,3,4,5,6,7,8,9]
print("length of list:",len(a))
a[2]+a[11]

#ERROR : list index out of range

length of list: 10

IndexError: ignored

In [ ]:
#3 Using a value that is out of range for a function’s input, such as calling math.sqrt(-1.0)
import math

result = math.sqrt(-1.0)

#ERROR: math domain error

ValueError: ignored

In [ ]:
#4 Using an undeclared variable, such as print(x) when x has not been defined
a = 5
b = 10
c = a+b
print(x)

#ERROR: name 'x' is not defined

NameError: ignored

5.  Trying to open a file that does not exist, such as mistyping the file name or looking in the wrong directory.

Trying to open a file which aleady existed ![question7.png]()

  and opening file which do not exist

![image.png]()

---
**Question 10**:
---
Encryption is the process of hiding the meaning of a text by substituting letters in the
message with other letters, according to some system. If the process is successful, no
one but the intended recipient can understand the encrypted message. Cryptanalysis
refers to attempts to undo the encryption, even if some details of the encryption are
unknown (for example, if an encrypted message has been intercepted). The first step
of cryptanalysis is often to build up a table of letter frequencies in the encrypted text.
Assume that the string letters is already defined as
'abcdefghijklmnopqrstuvwxyz'. Write a function called frequencies()
that takes a string as its only parameter, and returns a list of integers, showing the
number of times each character appears in the text. Your function may ignore any
characters that are not in letters

In [ ]:
def frequencies(text):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    result = [0] * len(letters)


    for char in text:

        char = char.lower()

        if char in letters:
            index = letters.index(char)
            result[index] += 1
    return result

text = "The quick red fox got bored and went home."
frequency_list = frequencies(text)
print(frequency_list)

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]